.link{
    text-decoration: none;
    
   
}
.navbar-nav{
    
    flex-direction: row;
}
.nav-link{
    color: aliceblue;
}
.nav-link:hover{
    color: aliceblue;
}
.topnav{
    margin-left: 100px;
}

