.link{
    text-decoration: none;
    
   
}
.navbar-nav{
    
    flex-direction: row;
}
.nav-link{
    color: aliceblue;
}
.nav2-link:hover{
    color: aliceblue;
}
.navbar2{
    margin-left: 100px;
}
ul li:hover{
    background-color:#3d3e42;

}