.title-covid{
    
width:100%;
margin-bottom: 50px;
}
.covid-right{
    float: right;
    margin-right: 30px;
   
 
    width: auto;
}
.covid-left{
    float: left;
    margin-left: 30px;
    
}
.container1-covid{
    TOP
    height: 100vh;
}
.covid-description{
    margin-top: 30px;
    width:700px
}
.description1{
    font-size: 50px bold ;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
}
.description2{
    font-size: 20px;
}
