.info-flag img {
    width: 100px;
    border-radius: 5px;
}

.info-name {
    font-size: 20px;
    font-weight: bold;
    color: rgb(231, 216, 216);
}

.info-container {
    width: 150px;
}

.info-flag {
    height: 50px;
    width: 100%;
    background-size: contain;
    border-radius: 8px;
    background-repeat: no-repeat;
}

.info-confirmed, .info-recovered, .info-deaths {
    font-size: 14px;
    margin-top: 5px;
}